<!-- <mat-tab-group [dynamicHeight]="true" fxLayout="column" style="margin: 20px;" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">
    
    <mat-tab>
        <ng-template mat-tab-label>
            <strong> Proiecte propuse </strong>
        </ng-template>

        <app-lecturer-projects> </app-lecturer-projects>

    </mat-tab>
    
    <mat-tab>
        <ng-template mat-tab-label>
            <strong> Adauga un proiect </strong>
        </ng-template>
        
        <app-create-project> </app-create-project>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <strong> Setarile contului </strong> 
        </ng-template>

        <app-edit-lecturer-account-component>
            
        </app-edit-lecturer-account-component>
    </mat-tab>

</mat-tab-group>  -->

<div fxLayout="column" style="margin:20px;" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'"  fxLayoutGap="10px">
    <nav mat-tab-nav-bar >
        <a mat-tab-link
            *ngFor="let link of navLinks"
            [routerLink]="link.path"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            {{link.label}}
        </a>
    </nav>

    <router-outlet> </router-outlet>
</div>