<div class="wrapper" style="margin-bottom:75px">
    <button mat-icon-button
            matTooltip="Back">
        <i class="material-icons" routerLink="/projects">arrow_back</i>
    </button>

    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title> <h2 style="color: #327ebd;"> {{project.title}} </h2> </mat-card-title>
            <mat-card-subtitle>{{ 'PROJECTS.PROPOSER' | translate }}: {{project.lecturer.name}} </mat-card-subtitle>
        </mat-card-header>

        <hr/>
        
        <mat-card-content fxLayout="column">
           
            <!-- <div class="heading">
                Descriere:
            </div> -->
            <div [innerHTML]="project.description | keepHtml"> </div>


            <div fxLayout="row-wrap">
                <h3 class="mat-headline-2" style="color:#327ebd;"> {{'PROJECTS.BIBLIOGRAPHIES' | translate }}: </h3>
                <div>
                    <a class="project-reference" *ngFor="let reference of project.bibliographies">
                        {{ reference.name }}
                    </a>
                </div>
            </div>

            <div fxLayout="row-wrap" *ngIf="project.tags">
                <h3 class="mat-headline-2" style="color:#327ebd; margin-right: 5px;" > {{ 'PROJECTS.TAGS' | translate }}: </h3> 
                <mat-chip-list class="project-tags">
                    <mat-chip *ngFor="let tag of project.tags" selectable="false">
                        {{tag.name}}
                    </mat-chip>
                </mat-chip-list>
            </div>

            <div fxLayout="row-wrap" *ngIf="project.file">
                <h3 class="mat-headline-2" style="color:#327ebd; margin-right: 5px;"> {{ 'PROJECTS.ATTACHED_FILE' | translate }}: </h3>
                <mat-chip-list class="project-tags">
                    <mat-chip selectable="true" (click)="downloadFile(project.file.path)" style="cursor: pointer;"> 
                        {{project.file.path}}
                        <mat-icon matChipRemove>cloud_download</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>

            <div class="row">
                <h3 class="mat-headline-2" style="color:#327ebd;"> {{'PROJECTS.CAPACITY' | translate}}: <span style="color:black;"> {{project.capacity}} </span></h3>
            </div>
        </mat-card-content>
        
        <mat-card-actions>
                <button mat-raised-button *ngIf="(authService.role | async) === 'ROLE_STUDENT'" color="primary" (click)="applyToProject()"> {{ 'PROJECTS.APPLY' | translate }}</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="other-projects" *ngIf="otherProjects && otherProjects.length > 0">
        <mat-card-header>
            <mat-card-title> <h4 style="color: #327ebd;"> {{ 'PROJECTS.SAME_LECTURER' | translate }} </h4> </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-list dense>
                <mat-list-item *ngFor="let project of otherProjects" style="cursor: pointer;" [routerLink]="['/projects', project.id]">
                    {{ project.title }}
                </mat-list-item>
            </mat-list>

        </mat-card-content>
    </mat-card>
</div>