<div class="wrapper">
    <button mat-icon-button
            matTooltip="Back">
        <i class="material-icons" routerLink="/projects">arrow_back</i>
    </button>

    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title>{{project.title}}</mat-card-title>
            <mat-card-subtitle>Propus de: {{project.lecturer.name}} </mat-card-subtitle>
        </mat-card-header>

        <hr/>
        <!--<mat-divider></mat-divider> -->
        
        <mat-card-content>
           
            <div class="heading">
                Descriere:
            </div>
            <div [innerHTML]="project.description | keepHtml"> </div>

            <div class="heading">
                Referinte:
            </div>

            <div class="project-references">
                <a class="project-reference" *ngFor="let reference of project.bibliographies">
                    {{ reference.name }}
                </a>
            </div>

            <div class="heading">
                Tag-uri: 
            </div>
            <mat-chip-list class="project-tags">
                <mat-chip *ngFor="let tag of project.tags" selectable="false">
                    {{tag.name}}
                </mat-chip>
            </mat-chip-list>


            <div class="heading">
                Fisiere atasate:
                <mat-chip *ngIf="project.file" selectable="true" (click)="downloadFile(project.file.path)"> 
                    {{project.file.path}}
                </mat-chip>
            </div>

            <div class="heading">
                Capacitate: {{project.capacity}}
            </div>
        </mat-card-content>
        
        <mat-card-actions>
                <button mat-raised-button color="primary" (click)="applyToProject()">Aplica</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="other-projects">
        <mat-card-content>
            <div class="heading">
                De acelasi profesor:
            </div> 

            <a>Baze de date de tip graf</a>

        </mat-card-content>
    </mat-card>
</div>