<mat-expansion-panel fxLayout="column" class="wrapper" (opened)="expandedPanel()">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ preference.student.name}}
        </mat-panel-title>
                            
        <mat-panel-description>
            Informatii suplimentare
        </mat-panel-description>
    </mat-expansion-panel-header>
    

    <ng-template matExpansionPanelContent>

        <div fxLayout="row">
            <h4 class="mat-subheading-2 center-align"> Data aplicarii : <span> {{ preference.submittedAt | date:'medium' }} </span> </h4> 
        </div>
        <h4 class="mat-subheading-2 center-align">Notele studentului</h4>
        <mat-divider></mat-divider>


        <div *ngIf="details && details.grades" fxLayout="row" fxLayoutWrap="wrap" class="parent">
            <div *ngFor = "let el of details.grades" class="child">
                {{el.course.name}} - {{el.value}}
            </div>
        </div>
        <mat-divider></mat-divider>

        <div *ngIf="details && details.answers" fxLayout="column">
            <h4 class="mat-subheading-2 center-align">Raspunsurile studentului</h4>

            <div *ngFor="let el of details.answers" class="size">
                <span class="question"> {{el.question.question}} </span> -  <span class="answer"> {{el.answer}} </span>
            </div>
        </div>

        <div fxLayout="row-reverse">
            <button mat-raised-button color="warn">Respinge</button>
        </div>
    </ng-template>
</mat-expansion-panel>