<div fxLayout="column" style="margin:20px" class="components-container-gt-xs component-holder" [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

    <mat-toolbar class="header"> 
        <h1 class="mat-headline center-align"> {{ project.title }} </h1>
    </mat-toolbar>

    <div class="container">
        
            <div fxFlex.xs="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" >
				<h4 class="mat-subheading-2 center-align">Studenti care au aplicat la acest proiect </h4>
                
                <button *ngIf="preferences" mat-raised-button color="primary" (click)="saveOrder()" style="margin-bottom: 10px;"> Salveaza </button>
                
                <mat-divider></mat-divider>
                
                <div *ngIf="!preferences || !preferences.length"> Nici un student nu a aplicat inca </div>
                
                <mat-accordion dnd-sortable-container [sortableData]="preferences">
                   
                    <div *ngFor="let element of preferences; let i = index" [dragEnabled]="true" dnd-sortable [sortableIndex]="i">
                        
                        <div style="width : 90%; float:left">
                            <app-student-details [preference]="element" [projectId]="project.id">  </app-student-details>
                        </div>
                        
                        <div style="width : 10%; float:right">
                            <button mat-icon-button matTooltip="Move First!" (click)="moveFirst(i)">
                                <i class="material-icons">arrow_upward</i>
                            </button>

                            <button mat-icon-button matTooltip="Move Last!" (click)="moveLast(i)">
                                <i class="material-icons">arrow_downward</i>
                            </button>
                        </div>
                    </div>
                
                </mat-accordion>    

			</div>        

            
    </div>
</div>