<div fxFlex fxLayout="column">

   
    <h1 class="title"> Proiectele la care am aplicat </h1>
     
                
    <div style="margin: auto">
        <button mat-button color="primary" (click)="draggable = !draggable">
            <mat-icon> low_priority </mat-icon>
            Reordoneaza lista
        </button>
        <button mat-button color="primary" (click)="draggable = false" (click) = "saveOrder()">
            <mat-icon> save </mat-icon>
            Salveaza modificarile
        </button>
    </div>
    <div fxFlex class="container"> 

        <div class="projects"  dnd-sortable-container [sortableData]="preferences">

            <mat-nav-list fxLayout="column">

                <mat-list-item [ngClass]="{'shake': draggable}" *ngFor="let item of preferences; let i = index" [dragEnabled]="draggable" dnd-sortable [sortableIndex]="i">
                        <p class="number">{{i + 1}}</p> {{ item.project.title }}
                        
                        <button mat-icon-button>
                            <i class="material-icons" (click)="removeProject(i)">close</i>
                        </button>
                </mat-list-item>

            </mat-nav-list>
        
        </div>

    </div>

</div>

